In [23]:
import requests
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import time
from tqdm import tqdm

from keys import *

In [24]:
# token = read_token()
token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0b2tlbiIsImF1ZCI6Ijg0ZDkwMTI2LTEzNWItNGI0NS1iYWE0LTY0MzcxZjllYThkNiIsInByZHRfY2QiOiIiLCJpc3MiOiJ1bm9ndyIsImV4cCI6MTcyNTU4MDUwMSwiaWF0IjoxNzI1NDk0MTAxLCJqdGkiOiJQU2RhYkdzTGVScVQyQWpCU1YwZGRYUHk2bm5IYjkwSHZMeDMifQ.noVKSnTerZVnp_kBHLwcAjEoz78BuTt38f8E9euR7PGclOpz07TX6jlFoLttJNQcjXUxefXMapz9nk0bUp63_g"
appkey = app_key()
appsecret = app_secret()

error_list = []

url_base = "https://openapi.koreainvestment.com:9443"
path = "/uapi/domestic-stock/v1/finance/balance-sheet"
headers = {
    "Content-Type": "application/json; charset=utf-8",
    "authorization": f"Bearer {token}",
    "appKey": appkey,
    "appSecret": appsecret,
    "personalSeckey": "",
    "tr_id": "FHKST66430100",
    "tr_cont" : "",
    "custtype": "P",
    "seq_no" : "",
    "mac_address" : mac_add(),
    "phone_number": phone(),
    "ip_addr":"",
    "hashkey":"",
    "gt_uid":""
}

user = 'ants'
password = rds_password()
host= end_point()
port = 3306
database = 'datawarehouse'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

conn = pymysql.connect(host=host, user=user, passwd=password, db=database)

In [25]:
types = {'Name':'str','Code':'str'}
code_df = pd.read_csv("~/airflow/stock_data/code.csv", dtype=types).rename(columns={"Name":"name","Code":"stock_code"})
code  = list(pd.read_csv("~/airflow/stock_data/code.csv", dtype=types)['Code'])

In [27]:
columns = ['stock_code','fiscal_date', 'cur_asset', 'fix_asset', 'total_asset', 'flow_lblt','fix_lblt', 'total_lblt', 'capital', 'total_capt']
for x in tqdm(code):    
    query = {
        "fid_cond_mrkt_div_code":"J",
        "fid_input_iscd":f"{x}",
        "fid_div_cls_code":"1"
    }
    res = requests.get(url=f"{url_base}{path}", headers=headers, params=query)
    data = res.json()
    df = pd.DataFrame(data['output'])
    if not df.empty:
        rename_df = df.rename(columns={"stac_yymm":"fiscal_date","cras":"cur_asset","fxas":"fix_asset",\
                    "total_aset":"total_asset","cpfn":"capital","total_cptl":"total_capt"})
        droped_df = rename_df.drop(['cfp_surp','prfi_surp'], axis=True)
        droped_df['stock_code'] = f"{x}"
        col_set = droped_df[columns]
        col_set = col_set.astype({
            'stock_code': str,        # 'stock_code'를 문자열로 변환
            'fiscal_date': str,  # 'fiscal_date'를 날짜 형식으로 변환
            'cur_asset': float,       # 'cur_asset'를 float로 변환
            'fix_asset': float,       # 'fix_asset'을 float로 변환
            'total_asset': float,     # 'total_asset'을 float로 변환
            'flow_lblt': float,       # 'flow_lblt'를 float로 변환
            'fix_lblt': float,        # 'fix_lblt'을 float로 변환
            'total_lblt': float,      # 'total_lblt'을 float로 변환
            'capital': float,         # 'capital'을 float로 변환
            'total_capt': float       # 'total_capt'을 float로 변환
        })
        col_set['fiscal_date'] = pd.to_datetime(col_set['fiscal_date'], format="%Y%m")
        col_set.to_sql("financial", index=False, if_exists="append", con=engine)
    time.sleep(0.08)

100%|██████████| 2716/2716 [06:15<00:00,  7.23it/s]
/tmp/ipykernel_2085317/3411302515.py:33: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  rds_df = pd.read_sql(select_sql, conn)

OSError: Cannot save file into a non-existent directory: '/opt/airflow/stock_data/data'

In [30]:
cursor = conn.cursor()
index_sql = """
    CREATE INDEX idx_stock_date ON financial(stock_code(6), `fiscal_date`);
"""
cursor.execute(index_sql)

0

In [29]:
select_sql = "SELECT * FROM `financial`"
rds_df = pd.read_sql(select_sql, conn)

rds_df.to_csv("~/airflow/stock_data/data/financial.csv")

/tmp/ipykernel_2085317/144730520.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  rds_df = pd.read_sql(select_sql, conn)

In [ ]:
col_set.head(3)

,stock_code,fiscal_date,cur_asset,fix_asset,total_asset,flow_lblt,fix_lblt,total_lblt,capital,total_capt
0,077970,202406,5969.00,3978.00,9947.00,6551.00,650.00,7201.00,691,2746.00
1,077970,202403,5737.00,4002.00,9738.00,6506.00,630.00,7136.00,691,2602.00
2,077970,202312,4909.00,4082.00,8991.00,5777.00,618.00,6395.00,691,2596.00

In [ ]:
query = {
    "fid_cond_mrkt_div_code":"J",
    "fid_input_iscd":"005930",
    "fid_div_cls_code":"0"
}

In [ ]:
res = requests.get(url=f"{url_base}{path}", headers=headers, params=query)
data = res.json()

In [ ]:
df = pd.DataFrame(data['output'])

In [ ]:
df.head(3)

,stac_yymm,cras,fxas,total_aset,flow_lblt,fix_lblt,total_lblt,cpfn,cfp_surp,prfi_surp,total_cptl
0,202406,2178581.00,2678996.00,4857577.00,843549.00,178761.00,1022310.00,8975,99.99,99.99,3835267.00
1,202312,1959366.00,2599694.00,4559060.00,757195.00,165087.00,922281.00,8975,99.99,99.99,3636779.00
2,202212,2184706.00,2299539.00,4484245.00,783449.00,153301.00,936749.00,8975,99.99,99.99,3547496.00

In [ ]:
col_set = col_set.astype({
    'stock_code': str,        # 'stock_code'를 문자열로 변환
    'fiscal_date': str,  # 'fiscal_date'를 날짜 형식으로 변환
    'cur_asset': float,       # 'cur_asset'를 float로 변환
    'fix_asset': float,       # 'fix_asset'을 float로 변환
    'total_asset': float,     # 'total_asset'을 float로 변환
    'flow_lblt': float,       # 'flow_lblt'를 float로 변환
    'fix_lblt': float,        # 'fix_lblt'을 float로 변환
    'total_lblt': float,      # 'total_lblt'을 float로 변환
    'capital': float,         # 'capital'을 float로 변환
    'total_capt': float       # 'total_capt'을 float로 변환
})
col_set['fiscal_date'] = pd.to_datetime(col_set['fiscal_date'], format="%Y%m")

In [ ]:
rename_df = df.rename(columns={"stac_yymm":"fiscal_date","cras":"cur_asset","fxas":"fix_asset",\
                   "total_aset":"total_asset","cpfn":"capital","total_cptl":"total_capt"})

In [ ]:
droped_df = rename_df.drop(['cfp_surp','prfi_surp'], axis=True)

In [ ]:
droped_df['stock_code'] = f"{x}"