In [8]:
import requests
import pandas as pd
from datetime import datetime, timedelta
import json
import pytz

In [9]:
local_tz = pytz.timezone('Asia/Seoul') 
start = (datetime.now(local_tz) - timedelta(minutes=5)).strftime("%Y%m%d%H%M")
end = datetime.now(local_tz).strftime("%Y%m%d%H%M")

In [63]:
url = "https://api.stock.naver.com/chart/domestic/index/KOSPI/minute?startDateTime={}&endDateTime={}"

In [64]:
r = requests.get(url.format(start,end))

In [65]:
r.text

'[{"localDateTime":"20240903102000","currentPrice":2683.65,"openPrice":2684.28,"highPrice":2684.28,"lowPrice":2682.65,"accumulatedTradingVolume":106468},{"localDateTime":"20240903102100","currentPrice":2683.94,"openPrice":2684.41,"highPrice":2684.59,"lowPrice":2683.65,"accumulatedTradingVolume":620},{"localDateTime":"20240903102200","currentPrice":2684.58,"openPrice":2684.16,"highPrice":2684.75,"lowPrice":2684.16,"accumulatedTradingVolume":627},{"localDateTime":"20240903102300","currentPrice":2684.04,"openPrice":2684.72,"highPrice":2684.9,"lowPrice":2684.04,"accumulatedTradingVolume":557},{"localDateTime":"20240903102400","currentPrice":2683.83,"openPrice":2684.78,"highPrice":2684.78,"lowPrice":2683.8,"accumulatedTradingVolume":626},{"localDateTime":"20240903102500","currentPrice":2684.6,"openPrice":2684.6,"highPrice":2684.6,"lowPrice":2684.6,"accumulatedTradingVolume":70}]'

In [66]:
pd.DataFrame(r.json())

,localDateTime,currentPrice,openPrice,highPrice,lowPrice,accumulatedTradingVolume
0,20240903102000,2683.65,2684.28,2684.28,2682.65,106468
1,20240903102100,2683.94,2684.41,2684.59,2683.65,620
2,20240903102200,2684.58,2684.16,2684.75,2684.16,627
3,20240903102300,2684.04,2684.72,2684.90,2684.04,557
4,20240903102400,2683.83,2684.78,2684.78,2683.80,626
5,20240903102500,2684.60,2684.60,2684.60,2684.60,70

In [90]:
import requests
import xml.etree.ElementTree as ET

# XML 데이터가 있는 URL
url = 'https://cyberir.koscom.co.kr/cyberir/main.do?custId=koscom'

# XML 데이터를 가져오기
response = requests.get(url)
xml_data = response.content

# ElementTree로 XML 파싱
root = ET.fromstring(xml_data)

# 예를 들어, 모든 <item> 태그 순회
for item in root.findall('.//item'):
    title = item.find('title').text
    description = item.find('description').text
    print(f'Title: {title}')
    print(f'Description: {description}')

ValueError: multi-byte encodings are not supported

In [81]:
ko_url = "https://cyberir.koscom.co.kr/cyberir/main.do?custId=koscom"

In [82]:
head = {"custId": "koscom"}

In [83]:
kr = requests.get(url)

In [84]:
kr.text

'[]'

In [ ]:
"query": "SERVICE_INDEX:KOSPI",
"_callback": "window.__jindo2_callback._8782",

In [91]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup

In [10]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from datetime import datetime

# URL 설정
url = "https://cyberir.koscom.co.kr/cyberir/main.do?custId=koscom"

# 웹페이지 데이터를 가져오기
response = requests.get(url)
xml_data = response.content.decode('utf-8')

# BeautifulSoup으로 XML 파싱 (XML 파서 사용)
soup = BeautifulSoup(xml_data, features="xml")

# <KorStock> 태그 찾기
korstocks = soup.find_all('KorStock')

# 데이터를 저장할 리스트
data = []

# 각 <KorStock> 태그에서 데이터 추출
for korstock in korstocks:
    stock_name = korstock.find('StockName').text
    current_point = korstock.find('CurrentPoint').text
    up_down_point = korstock.find('UpDownPoint').text
    up_down_rate = korstock.find('UpDownRate').text
    up_down_flag = korstock.find('UpDownFlag').text.strip()  # 공백 제거

    # 리스트에 추가
    data.append({
        'StockName': stock_name,
        'CurrentPoint': current_point,
        'UpDownPoint': up_down_point,
        'UpDownRate': up_down_rate,
        'UpDownFlag': up_down_flag
    })

# 리스트를 DataFrame으로 변환
df = pd.DataFrame(data)
df['price_time'] = datetime.now(local_tz).strftime("%Y%m%d%H%M")
df

  StockName CurrentPoint UpDownPoint UpDownRate UpDownFlag    price_time
0     KOSPI     2,683.74        2.74       0.10          1  202409031053
1    KOSDAQ       769.05       -0.16      -0.02          2  202409031053
2  KOSPI200       362.02       -0.07      -0.02          2  202409031053
3    KRX100     5,665.28       -2.78      -0.05          2  202409031053